body {
  margin: 0;
}

.map__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.map_main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  box-shadow: "0 4px 6px rgba(0, 0, 0, 0.1)";
  background-color: #f9f9f9;
}

.area_calculation {
  position: absolute;
  top: 55px;
  right: 10px;
  background: rgba(255, 255, 255, 50%);
  z-index: 100;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-weight: bold;
}

.coords-display {
  position: absolute;
  top: 55px;
  right: 10px;
  background: rgba(255, 255, 255, 50%);
  z-index: 100;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
}

.control__btn {
  flex: 1;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
